<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title>Make It Happen</title>

 <!-- STYLESHEETS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <link rel="stylesheet" href="styles/styles.css">

 <!-- VENDOR SCRIPTS -->
 <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous">
</script>

 <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" >
 </script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js">
 </script>

 <!-- APPLICATION SCRIPTS -->
 <script src="scripts/app.js"></script>
</head>

<body>

<!--This is the top of the page -->
  <div class="header" class="img-rounded">
    <div class="logo">
      <h1> Make It Happen! </h1>
      <h2> Help students improve the world! </h2>
    </div>
  </div>


  <!--My form will begin here -->
  <!-- mih = make it happen -->
  <!-- BEGIN FORM SAMPLE -->

      <section class="container">
        <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <form id="mih-form" class="form-horizontal">
            <fieldset>

              <!-- Form Name -->
              <legend>What does your class need?</legend>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Leaders Name</label>
                <div class="col-md-4">
                <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="schoolName">School Name</label>
                <div class="col-md-4">
                <input id="schoolName" name="schoolName" type="text" placeholder="" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="location">Location</label>
                <div class="col-md-4">
                <input id="location" name="location" type="text" placeholder="" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="needs">Needs</label>
                <div class="col-md-4">
                <input id="needs" name="needs" type="text" placeholder="" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="deadline">Deadline</label>
                <div class="col-md-4">
                <input id="deadline" name="deadline" type="text" placeholder="" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Textarea -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description</label>
                <div class="col-md-4">
                  <textarea class="form-control" id="description" name="description" required=""></textarea>
                </div>
              </div>


              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                  <button id="singleButton" name="singlebutton" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        </div>
      </section>

       <!--   END FORM SAMPLE -->

       <!-- START where the teacher post will be -->

       <section class="container">
         <div class="row">
           <div class="col-md-10 col-md-offset-1">
             <h2>Community Leaders</h2>
           </div>
         </div>

         <!-- naming 'leaders' to avoid multiple "teacher" name confusion -->
         <!-- this is all the teachers tho -->
         <div id='leaders'>

           <!-- handlebar this thang -->
           <script id="leader-template" type="text/x-handlebars-template">

             <!-- start one teacher post -->
           <div class="row teacher">
             <div class="col-md-6 col-md-offset-1">
               <div class="panel panel-default">
                 <div class="panel-body">

                   <!-- start of the attributes -->

                  <div class="row">
                     <div class="col-md-9 col-xs-12">
                       <ul class="list-group">

                         <li class="list-group-item">
                           <h4 class="inline-header">Leaders Name:</h4>
                           <span class="name">{{teacher.name}}</span>
                         </li>

                         <li class="list-group-item">
                           <h4 class="inline-header">School Name:</h4>
                           <span class="name">{{teacher.schoolName}}</span>
                         </li>

                         <li class="list-group-item">
                           <h4 class="inline-header">Location:</h4>
                           <span class="name">{{teacher.location}}</span>
                         </li>

                         <li class="list-group-item">
                           <h4 class="inline-header">Needs:</h4>
                           <span class="name">{{teacher.needs}}</span>
                         </li>

                         <li class="list-group-item">
                           <h4 class="inline-header">Deadline:</h4>
                           <span class="name">{{teacher.deadline}}</span>
                         </li>

                         <li class="list-group-item">
                           <h4 class="inline-header">Description:</h4>
                           <span class="name">{{teacher.description}}</span>
                         </li>

                         <li class="list-group-item">
                           <h4 class="inline-header">Donor:</h4>
                           <span class="name">Donor</span>
                         </li>

                       </ul>
                     </div>
                   </div>
                   <!-- end of attributes -->

                 </div>
               </div>
             </div>
           </div>
           <!-- end of one post -->
         </script>


         </div>
         <!-- end of leaders -->



       </section>



</body>

</html>
