<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Make It Happen</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous">
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js">
  </script>

  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>
</head>

<body>

  <!--This is the top of the page -->
  <div class="jumbotron" class="img-rounded">

    <div class="logo">
      <img src="/images/makeithappen.png"></img>
    </div>

    <div class="slogan">
      <img src="/images/typorama.png"></img>
    </div>

  </div>

  <div class="text-center" id="instructions">
    <!-- TODO: Your site looks great! Try using more custom css to make your layout instead of multiple nested tags -jc -->
    <p> <u><h1>How Does it Work?</h1></u></p>

    <dl>
      <h4><dt>Teacher? Coach? Instructor?</dt></h4>
      <h5><dd>Do you run a class and have all these great ideas but cant make them reality because of funds? Feel free to fill out the form below! Once submitted, you wait until a donor leaves his contact info.</dd></h5>
    </dl>

    <dl>
      <h4><dt>Love to give back?</dt></h4>
      <h5><dd>Be a Donor! Look at the post below the form, if you think you can help the persons needs, <h4> Make It Happen! </h4> Click the button, input your contact info and Donate!</dd></h5>
    </dl>

  </div>



  <!--My form will begin here -->
  <!-- mih = make it happen -->
  <!-- BEGIN FORM SAMPLE -->

  <section class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <form id="mih-form" class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <h3>What does your class need? <small>(Instructors:)</small></h3>


            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Leaders Name</label>
              <div class="col-md-4">
                <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="schoolName">School Name</label>
              <div class="col-md-4">
                <input id="schoolName" name="schoolName" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="location">Location</label>
              <div class="col-md-4">
                <input id="location" name="location" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="needs">Needs</label>
              <div class="col-md-4">
                <input id="needs" name="needs" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="deadline">Deadline</label>
              <div class="col-md-4">
                <input id="deadline" name="deadline" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="description">Description</label>
              <div class="col-md-4">
                <textarea class="form-control" id="description" name="description" required=""></textarea>
              </div>
            </div>


            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="submitbutton"></label>
              <div class="col-md-4">
                <button id="submitButton" name="submitbutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </section>

  <!--   END FORM SAMPLE -->

  <!-- START where the teacher post will be -->

  <section class="col-offset-12 container">
    <div class="row">
      <div class="col-md-12">
        <h2>Community Leaders</h2>
      </div>
    </div>

    <!-- naming 'leaders' to avoid multiple "teacher" name confusion -->
    <!-- this is all the teacher posts tho -->
    <div id='leaders'>

      <!-- handlebar this thang -->
      <script id="leader-template" type="text/x-handlebars-template">

        <!-- start one teacher post -->


        <div class="row teacher" id="onePost" data-id={{teacher._id}}>
          <div class="col-md-10">
            <div class="panel panel-default">
              <div class="panel-body">

                <!-- start of the attributes -->

                <div class="row">
                  <div class="col-md-12 ">
                    <ul class="list-group">

                      <li class="list-group-item">
                        <h4 class="inline-header">Leaders Name:</h4>
                        <span class="name">{{teacher.name}}</span>
                      </li>

                      <li class="list-group-item">
                        <h4 class="inline-header">School Name:</h4>
                        <span class="school-name">{{teacher.schoolName}}</span>
                      </li>

                      <li class="list-group-item">
                        <h4 class="inline-header">Location:</h4>
                        <span class="location">{{teacher.location}}</span>
                      </li>

                      <li class="list-group-item">
                        <h4 class="inline-header">Needs:</h4>
                        <span class="needs">{{teacher.needs}}</span>
                      </li>

                      <li class="list-group-item">
                        <h4 class="inline-header">Deadline:</h4>
                        <span class="deadline">{{teacher.deadline}}</span>
                      </li>

                      <li class="list-group-item">
                        <h4 class="inline-header">Description:</h4>
                        <span class="description">{{teacher.description}}</span>
                      </li>

                      <li class="list-group-item">
                        <h4 class="inline-header">Donor(s):</h4> {{#each teacher.donor}}
                        <span id="donor"><b>{{name}}</b>:  {{contact}}</span>
                        </br>
                        {{/each}}
                      </li>

                    </ul>

                  </div>
                </div>

                <div class='panel-footer'>
                  <div class="row button">
                    <div class="col-md-3">
                      <button id="updateButton" name="updatebutton" class="btn btn-warning">Update</button>
                      <button id="savedUpdateButton" name="savedUpdateButton" class="btn btn-info hidden">Save Changes</button>
                    </div>


                    <div class="col-md-3">
                      <button id="deleteButton" name="deletebutton" class="btn btn-danger">Delete</button>
                    </div>

                    <div class="col-md-6">
                      <button id="mihButton" name="mihbutton" class="btn btn-success">Make It Happen!</button>
                    </div>
                  </div>
                </div>

      </script>

      <!-- end of attributes -->

      </div>
      </div>
      </div>
      </div>
      <!-- end of one post -->




    </div>
  </section>

  <small>Terms and Conditions: </br> Once a Donor, there is no way to back out. If you would like to remove yourself please contact us at 1-800-555-5555</small>
  <!-- end of leaders -->

  <!-- start of DONOR MODAL -->

  <div class="modal fade" tabindex="-1" role="dialog" id="donorModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Make it Happen!</h4>
        </div>
        <div class="modal-body">

          <fieldset class='form-horizontal'>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="donorName">Donor Name:</label>
              <div class="col-md-4">
                <input id="donorName" name="donorName" type="text" placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="contact">Contact Me At:</label>
              <div class="col-md-4">
                <input id="contact" name="email" type="email" required="" placeholder="email" class="form-control input-md">
              </div>
            </div>
          </fieldset>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Changed my mind</button>
          <button type="button" class="btn btn-success" id="donateButton">Donate!</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

</body>






</html>
