body{
background-image: linear-gradient(#FF8C00, #bfbfbf);
}

.jumbotron{
  background-image: url(/images/giving-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FF8C00;
  display: block;
  position: relative;


}

.logo img{
  float: right;
  margin-top: -50px;
  position: relative;
  height: auto;
  width: auto;


}

.slogan img{
display: block;
height: auto;
width: auto;
position: relative;
margin-top: 150px;
}


h3 {
  color: red;
}

.row h4{
  color: black;
}

.row span{
  color: #e38537;
  height: 500px;
}

dl dt{
  color: green;
}

dl h4 {
  color: green;
}
